@model FinalProjectAlpha.ViewModels.Archive
@{
    ViewBag.Title = "Private";
}

<link href="~/Content/style.css" rel="stylesheet" />

    <div class="container-fluid">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
             <center><h1 class="page-header"> Private Project Name: @ViewBag.Archive.ProjectName</h1></center>
            </div>
        </div>

        <!-- Portfolio Archives Site iframe -->
        <div class="container-fluid">
            <center>
                 <a href="@ViewBag.Archive.ArchiveLink" class="btn btn-primary btn-sm" role="button" >Visit Archived Site</a>
                <br/>
                <iframe src="@ViewBag.Archive.ArchiveLink" width="850" height="550" alt=""> <p>Your browser does not support iframes.</p>  </iframe>
            </center>
        </div>
        <!-- Portfolio Details -->
        <div class="row">
            <div class="col-sm-6" style="background-color:ThreeDHighlight;">
                <h3>Project Description</h3>
                    <p>Short Description: <br /> @ViewBag.Archive.ShortDesc</p><br /> <br />
                    <p>Long Description: <br /> @ViewBag.Archive.LongDesc</p>
                
                <h3>Project Details</h3>
                <ul>
                    <li>Team Name: @ViewBag.Archive.TeamName </li>
                    <li>GitHub Repo: @ViewBag.Archive.RepoLink</li>
                    <li>Original Link: @ViewBag.Archive.Link</li>
                    <li>Archive Link: @ViewBag.Archive.ArchiveLink</li>
                    <li>Private: @ViewBag.Archive.PrivateLink</li>
                </ul>
            </div>
        

            <div class="col-sm-6" style="background-color:ThreeDHighlight;">
                <center><h4>Screenshot when archived:</h4></center>
                @*converts byte[] (as in db) to .jpg*@
                @{
                    var base64 = Convert.ToBase64String(ViewBag.Archive.SnapShot);
                    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                }
                @*display image*@
                <img src="@imgSrc" height="450" width="550" />
            </div>

            
       </div>
            <br/>
            <!-- Portfolio Live Site iframe -->
            <div class="container-fluid">
                <center>
                    <a href="@ViewBag.Archive.Link" class="btn btn-primary btn-sm" role="button">Visit Live Site</a>
                    <br/>
                    <iframe src="@ViewBag.Archive.Link" width="850" height="550" alt=""><p>Your browser does not support iframes.</p> </iframe>
                </center>
            </div>

            <!-- /.row -->
            <!-- Related Projects Row -->
            @*<div class="row">

                <div class="col-lg-12">
                    <h3 class="page-header">Related Projects</h3>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                    </a>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <a href="#">
                        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                    </a>
                </div>

            </div>*@
            <!-- /.row -->
        </div>

