
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h4>@ViewBag.Archive.Link</h4>
<h4>@ViewBag.Archive.ArchiveLink</h4>
<h4>@ViewBag.Archive.RepoLink</h4>
<h4>@ViewBag.Archive.ShortDesc</h4>
<h4>@ViewBag.Archive.LongDesc</h4>



