@*Like defining a variable with type "Archive", we choose what model to use on this page. (and call it "model")*@
@*This variable is the instance that we send to the page when we run it.*@
@model FinalProjectAlpha.Models.Archive
@{
    ViewBag.Title = "EditPage";
}


@*note:  link jquery css to here(?) so error messages will display before form submission*@
@*<link href="~/Content/formcss/style.css" rel="stylesheet" />*@
<h4>Edit your Archive</h4>
<div class="col-sm-12">
    <div class="container">
        <div class="form-horizontal">
            @*runs the action "Edit" inside the Project controller*@
            <form id="Edit" action="Edit" method="post">
                <label for="basic-url">Your Project Name:</label>
                <br />
                @*"Html" is a "helper class" for creating editors and other useful things in HTML*@
                @*the "HiddenFor" Method, sends data to the action following the form without telling the user*@
                @*Here we send the Link, as it is the primary key and used to identify the object*@
                @Html.HiddenFor(model => model.Link)
                <div class="input-group">
                    @*"EditorFor" is a method that shows a text box for a specific field, and pre fills it in with data that is already in the property*@
                    @Html.EditorFor(model => model.ProjectName)
                </div>
                <br />
                <label for="basic-url">Your Team Name:</label>
                <br />
                <div class="input-group">
                    @*<input type="text" class="form-control" id="team" placeholder=@ViewBag.Archive.TeamName aria-describedby="basic-addon3" name="TeamName" />  <---- this code is kept so we can remember the classes we used to make stuff look more bootstrappy*@

                    @Html.EditorFor(model => model.TeamName)
                </div>
                <br />
                <label for="basic-url">A short description of your project:</label>
                <br />
                <div class="input-group">
                    @Html.EditorFor(model => model.ShortDesc)
                </div>
                <br />
                <label for="basic-url">A more detailed description of your project:</label>
                <br />
                <div class="input-group">
                    @Html.EditorFor(model => model.LongDesc)
                    @*<textarea class="form-control" id="longdesc" placeholder=@Model.LongDesc name="LongDesc" rows="3" column="200"></textarea> we saved this code also because we used a text area.*@
                </div>
                <br />
                @*Once we hit submit, we go to the "Edit" action (located at the top of the form)*@
                <input type="submit" id="Edit" class="btn btn-info " value="Submit">
            </form>
        </div>
        @*<a href="@Model.ArchiveLink" class="btn btn-primary btn-sm" role="button">Archive</a>
            <a href="/Project/Details?Link=@Model.Link" class="btn btn-info btn-sm" role="button">Details</a>
            <a href="@Model.Link" class="btn btn-default btn-sm" role="button">Live</a>
            <a href="/Project/DeleteIT?Link=@Model.Link" class="btn btn-danger btn-sm" role="button">Delete</a>
            <a href="/Project/ArchiveIt?Link=@Model.Link" class="btn btn-danger btn-sm" role="button">ReArchive</a>
            <a href="/Project/ScreenShotIt?Link=@Model.Link" class="btn btn-danger btn-sm" role="button">ReScreenshot</a>

                Kept for stretch goals*@
    </div>
</div>
@*Scripts used for validation in our New page*@
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="~/Scripts/saveform.js"></script>


