@model FinalProjectAlpha.Models.Archive
@{
    ViewBag.Title = "Savepage";
}



<link href="~/Content/formcss/style.css" rel="stylesheet" />

<h4>Archive your Project</h4>

<div class="col-sm-12">
    <div class="container">
   
        <div class="form-horizontal">
            <form id="save-proj" action="Save" method="post">
               
                 <label for="basic-url">Your Project Name:</label> <br />
                <div class="input-group">
                    <input type="text" class="form-control" id="pname" aria-describedby="basic-addon3" name="ProjectName" />
                    <!--validation-->
                   
                        @*@Html.EditorFor(model => model.ProjectName)
                        @Html.ValidationMessageFor(model => model.ProjectName)*@
                  
                
                </div>
                <br />
                
                <label for="basic-url">Your Team Name:</label> <br />
                <div class="input-group">
                    <input type="text" class="form-control" id="team" aria-describedby="basic-addon3" name="TeamName" />
                    <!--validation-->
                    
                        @*@Html.EditorFor(model => model.TeamName)
                        @Html.ValidationMessageFor(model => model.TeamName)*@
                    
                </div>
                <br />
                
                 <p>
                    <label for="basic-url">Your full project URL:</label> <br />
                    <div class="input-group">
                        <input type="url" class="form-control" id="link" aria-describedby="basic-addon3" name="Link" />
                        <!--validation-->
                       
                            @*@Html.EditorFor(model => model.Link)
                            @Html.ValidationMessageFor(model => model.Link)*@
                        
                    </div>  
                    <br />
                </p>
                <p>
                    <label for="basic-url">Your full repository URL:</label> <br />
                    <div class="input-group">
                        <input type="url" class="form-control" id="repolink" aria-describedby="basic-addon3" name="RepoLink" />
                        <!--validation-->
                       
                            @*@Html.EditorFor(model => model.RepoLink)
                            @Html.ValidationMessageFor(model => model.RepoLink)*@
                        
                    </div>
                    <br />
                </p>
                <p>
                    <label for="basic-url">A short description of your project:</label> <br />
                    <div class="input-group">
                        <input type="text" class="form-control" id="shortdesc" aria-describedby="basic-addon3" name="ShortDesc" />
                        <!--validation-->
                        
                            @*@Html.EditorFor(model => model.ShortDesc)
                            @Html.ValidationMessageFor(model => model.ShortDesc)*@
                                           
                    </div>
                    <br />
                </p>
                <p>
                    <label for="basic-url">A more detailed description of your project:</label> <br />
                    <div class="input-group">
                        <textarea class="form-control" id="longdesc" name="LongDesc" rows="3" column="200" placeholder="Enter Description"></textarea>
                        <!--validation-->
                        
                            @*@Html.EditorFor(model => model.LongDesc)
                            @Html.ValidationMessageFor(model => model.LongDesc)*@
                       
                    </div>
                    <br />
                </p>

                <input type="submit" id="save" class="btn btn-info " value="Submit">
                
            </form>
        </div>
    </div>
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

@*e
<script src="~/Scripts/respond.js"></script>*@

@*<script src="~/Scripts/saveform.js"></script>*@

@*<script>
    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });
    $("#save-proj").validate({
        rules: {
            field: {
                required: true,
                url: true
            }
        }
    });
</script>*@



