
<!DOCTYPE html>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title> Dashboard</title>
</head>
 <body>
     <background img src="~/Content/Keeper1.jpg" />
    
     <center><h1>My Project Dashboard!</h1></center>
    <p></p>
    <div class="panel panel-collapse">
        <div class="panel-body">
           
                @foreach (var item in ViewBag.userArchiveList)
                   {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        @*Live site screenshot here.*@
                        <div class="thumbnail">
                           @{ 
           
                                if (item.SnapShot != null)
                                {
                                    var base64 = Convert.ToBase64String(item.SnapShot);
                                    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                                    ViewBag.imgSrc = imgSrc;
                                }

                                else
                                {
                                    ViewBag.imgSrc = "http://placehold.it/500x300";
                                }
                             }

                                <img src= "@ViewBag.imgSrc"height="500" width="300" /> 
                           
                            <div class="caption">
                                <h4>
                                    @item.ProjectName @*Placeholder, We want a Project NAME here.*@
                                </h4>

                                <p>@item.ShortDesc</p>
                                <p>
                                    <a href="@item.ArchiveLink" class="btn btn-primary btn-sm" role="button">Archive</a>
                                    <a href="/Project/Details?Link=@item.Link" class="btn btn-info btn-sm" role="button">Details</a>
                                    <a href="@item.Link" class="btn btn-default btn-sm" role="button">Live</a>
                                    <a href="/Project/EditPage?Link=@item.Link" class="btn btn-danger btn-sm" role="button">Edit</a>
                                </p>
                            </div>
                        </div>
                    </div>
                   }
       </div>
    </div>

</body>
</html>
